<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Secret Base</h1>
<h2>This is your Secret Base <%=@user.name%>!</h2>
Money: <%=@user.money%>
<ul>
  <li><a href="/users/<%=@user.id%>/pokecenter">Pokemon Center</a></li>
  <li><a href="/users/<%=@user.id%>/pokemart">PokeMart</a></li>
  <li><a href="/users/<%=@user.id%>/pokelotto">PokeLotto</a></li>
  <li><a href="/users/<%=@user.id%>/">View Team</a></li>
</ul>
<a href="/users/<%=@user.id%>/<%=@user.location%>">Continue your adventure</a>
</body>
</html>